APP_NAME=hcs-cms-go
PORT=8080
GIN_MODE=debug
DATABASE_URL=
LEGACY_DATABASE_URL=
CIS_LEGACY_DB_NAME=
CIS_LEGACY_DB_USER=
CIS_LEGACY_DB_PASSWORD=
CIS_LEGACY_DB_HOST=
CIS_LEGACY_DB_PORT=
JWT_SECRET=change-me
