# Django
SECRET_KEY=fnka4*d)=5b5!lyzuykdnkf=xte&g&b-k_@-9tu49*7#g75bqp
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5435/hcs_cms_db
# DATABASE_URL=postgresql://postgres:postgres@10.182.144.249:5432/hcs_cms_db


# CORS
CORS_ALLOWED_ORIGINS=http://localhost:4200

# External SSO / Resource Server
SSO_BASE_URL=http://localhost:8000
SSO_INTROSPECTION_URL=http://localhost:8000/api/oidc/introspect/
SSO_CLIENT_ID=e0fHKkeBUgsnr67J5eK1rfcchOnKezAnJqQJY6pT
SSO_CLIENT_SECRET=AfyNVeG3hHAi6JZ5lY8vYh9B5DKxa4IUc6Dv0XBWBnnEhxcglxOZWArKNt0POAMVz7V4icQ16p8HiGH8XFKx4yXt06LFFiN2h14FZkMsYe4EZpnyu1VwHG20qe3kwbvW
SSO_VERIFY_SSL=False

# Local API auth when SSO on :8000 is offline or introspection is misconfigured
# (must match frontend `devAuthBypassToken` in src/app/environment.ts)
DEV_AUTH_BYPASS_TOKEN=local-hcs-cms-dev-only
DEV_AUTH_BYPASS_USERNAME=admin

# CIS 1.0 Legacy Database (for introspection only)
CIS_LEGACY_DB_NAME=cis_old_db
CIS_LEGACY_DB_USER=postgres
CIS_LEGACY_DB_PASSWORD=postgres
# CIS_LEGACY_DB_HOST=10.182.144.243
# CIS_LEGACY_DB_PORT=5432
CIS_LEGACY_DB_HOST=localhost
CIS_LEGACY_DB_PORT=5435

