<table *ngIf="litigantList.length > 0">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Contact</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of litigantList">
      <td>{{ item.name }}</td>
      <td>{{ item.gender }}</td>
      <td>{{ item.age }}</td>
      <td>{{ item.contact }}</td>
      <td>{{ item.address }}</td>
    </tr>
  </tbody>
</table>

<form [formGroup]="form" class="form-wrapper">
  <!-- GROUP 1 -->
  <div class="form-group-block">
    <div class="section-title">Litigant</div>

    <div class="row g-3">
      <div class="col-md-6 d-flex align-items-center">
        <label class="form-label pe-3">Litigant Type</label>

        <div class="d-flex gap-4 mb-1">
          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              [value]="true"
              formControlName="is_petitioner"
            />
            <label class="form-check-label">Petitioner</label>
          </div>

          <div class="form-check">
            <input
              type="radio"
              class="form-check-input"
              [value]="false"
              formControlName="is_petitioner"
            />
            <label class="form-check-label">Respondent</label>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <label class="form-label">Name <small class="text-danger">*</small></label>

        <input class="form-control" formControlName="name" />
      </div>

      <div class="col-md-4">
        <label class="form-label">Gender</label>

        <select class="form-control form-select" formControlName="gender">
          <option value="">Select</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="O">Other</option>
        </select>
      </div>

      <div class="col-md-4">
        <label class="form-label">Age</label>

        <input type="number" class="form-control" formControlName="age" />
      </div>

      <div class="col-md-4 d-flex align-items-center">
        <div class="form-check mt-4">
          <input type="checkbox" class="form-check-input" formControlName="is_diffentially_abled" />
          <label class="form-check-label">Differently Abled</label>
        </div>
      </div>
    </div>
  </div>

  <!-- GROUP 2 -->
  <div class="form-group-block">
    <div class="section-title">Contact Details</div>

    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label">Email</label>

        <input class="form-control" formControlName="email" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Mobile No</label>

        <input class="form-control" formControlName="contact" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Religion</label>

        <input class="form-control" formControlName="religion" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Caste</label>

        <input class="form-control" formControlName="caste" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Occupation</label>

        <input class="form-control" formControlName="occupation" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Address</label>

        <textarea class="form-control" rows="2" formControlName="address"></textarea>
      </div>
    </div>
  </div>

  <!-- GROUP 3 -->
  <div class="form-group-block">
    <div class="section-title">Location Information</div>

    <div class="row g-3">
      <div class="col-md-4">
        <label class="form-label">State</label>

        <select class="form-control form-select" formControlName="state_id">
          <option value="">Select State</option>
        </select>
      </div>

      <div class="col-md-4">
        <label class="form-label">District</label>

        <select class="form-control form-select" formControlName="district_id">
          <option value="">Select District</option>
        </select>
      </div>

      <div class="col-md-4">
        <label class="form-label">Taluka</label>

        <input class="form-control" formControlName="taluka" />
      </div>

      <div class="col-md-4">
        <label class="form-label">Village</label>

        <input class="form-control" formControlName="village" />
      </div>
    </div>
  </div>
</form>
