<form [formGroup]="form" class="form-wrapper">
  <!-- GROUP 1 -->
  <div class="form-group-block">
    <div class="section-title">Case Details</div>

    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label"> Cause of Action <small class="text-danger">*</small> </label>
        <textarea class="form-control" rows="2" formControlName="cause_of_action"></textarea>
      </div>

      <div class="col-md-6">
        <label class="form-label">
          Date of Cause of Action <small class="text-danger">*</small>
        </label>
        <input type="date" class="form-control" formControlName="date_of_cause_of_action" />
      </div>

      <!-- <div class="col-md-6">
        <label class="form-label"> Important Information / Subject / Reason </label>
        <input class="form-control" formControlName="importantInformation" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Prayer</label>
        <textarea class="form-control" rows="2" formControlName="prayer"></textarea>
      </div> -->

      <!-- <div class="col-md-4">
        <label class="form-label">Suit Valuation (₹)</label>
        <input class="form-control" formControlName="suitValuation" />
      </div> -->

      <!-- <div class="col-md-4">
        <div class="form-check mt-4">
          <input type="checkbox" class="form-check-input" formControlName="plaintLocalLanguage" />
          <label class="form-check-label">Plaint in Local Language</label>
        </div>
      </div> -->
    </div>
  </div>

  <!-- GROUP 2 -->
  <div class="form-group-block">
    <div class="section-title">Dispute Arising Out Of</div>

    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label">State</label>
        <select class="form-control form-select" formControlName="dispute_state">
          <option value="">Select State</option>
          <option *ngFor="let s of states" [id]="s.id">{{ s.state }}</option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label">District</label>
        <select class="form-control form-select" formControlName="dispute_district">
          <option value="">Select District</option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label">Taluka</label>
        <input type="text" class="form-control" formControlName="dispute_taluka" />
      </div>
    </div>
  </div>

  <!-- GROUP 3 -->
  <div class="form-group-block">
    <div class="section-title">Act Details</div>

    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label"> Act <small class="text-danger">*</small> </label>

        <select class="form-control form-select" formControlName="act">
          <option value="">Select Act</option>
          <option *ngFor="let act of acts" [value]="act.actcode">
            {{ act.actname }}
          </option>
        </select>
      </div>

      <div class="col-md-6">
        <label class="form-label"> Section <small class="text-danger">*</small> </label>
        <input class="form-control" formControlName="section" />
      </div>

      <div class="col-md-12">
        <button type="button" class="btn btn-success btn-sm" (click)="addAct()">+ Add Act</button>
      </div>
    </div>
    <div class="card p-2 border-0 shadow-sm mb-2 mt-2">
      <table class="table mt-3 table-striped" *ngIf="actList.length > 0">
        <thead class="table-secondary fw-lighter">
          <tr>
            <th class="fw-light" style="border-top-left-radius: 10px">#</th>
            <th class="fw-light">Act</th>
            <th class="fw-light" style="border-top-right-radius: 10px">Section</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of actList; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.actname }}</td>
            <td>{{ item.section }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
