<div class="dashboard-header mb-4">
  <div class="container py-4">
    <header class="d-flex justify-content-between align-items-center mb-2">
      <h5 class="mb-0">
        Filing In Draft
        <span class="text-success ms-2 small">
          <span class="text-muted">(eFiling Number :</span>
          {{ eFilingNumber }}
          <span class="text-muted">)</span>
        </span>
      </h5>

      <a
        [routerLink]="['/advocate/dashboard/efiling/draft-filings']"
        class="btn btn-sm btn-light border"
        style="font-size: 12px"
      >
        <i class="fa-solid fa-arrow-left me-1"></i>
        Back
      </a>
    </header>

    <hr />

    <!-- STEPPER -->
    <div class="chevron-container mb-4">
      <div class="chevron" [class.active]="step >= 2" (click)="goToStep(2)">
        <span>
          <i class="fa-solid fa-users me-2"></i>
          Litigant
        </span>
      </div>

      <div class="chevron" [class.active]="step >= 3" (click)="goToStep(3)">
        <span>
          <i class="fa-solid fa-scale-balanced me-2"></i>
          Case Details
        </span>
      </div>
      <div class="chevron" [class.active]="step >= 4" (click)="goToStep(4)">
        <span>
          <i class="fa-solid fa-file-pdf me-2"></i>
          Documents
        </span>
      </div>

      <div class="chevron" [class.active]="step >= 5" (click)="goToStep(5)">
        <span>
          <i class="fa-solid fa-paper-plane me-2"></i>
          eFile
        </span>
      </div>
    </div>

    <div class="card border-0 p-4">
      <!-- STEP 1 -->
      <div *ngIf="step === 1">
        <app-initial-inputs [form]="initialInputsForm"> </app-initial-inputs>

        <div class="alert alert-warning px-2 p-0 py-1">
          <small>
            Note: Once the E-Filing Number is generated, you will not be able to make changes to
            these details.
          </small>
        </div>

        <div class="text-end mt-4">
          <button
            class="btn btn-p me-2"
            [class.btn-dark]="!eFilingNumber"
            [class.btn-success]="eFilingNumber"
            (click)="!eFilingNumber && saveStep1()"
            [disabled]="eFilingNumber"
          >
            <i class="fa-regular fa-floppy-disk" *ngIf="!eFilingNumber"></i>
            <i class="fa-solid fa-check" *ngIf="eFilingNumber"></i>

            {{ eFilingNumber ? 'Saved' : 'Save' }}
          </button>

          <button class="btn btn-outline-dark" (click)="next()">
            Next
            <i class="fa-solid fa-chevron-right ms-2"></i>
          </button>
        </div>
      </div>

      <!-- STEP 2 -->
      <div *ngIf="step === 2">
        <app-litigant
          (deleted)="onDelete($event)"
          [form]="litigantsForm"
          [litigantList]="litigantList"
        >
        </app-litigant>

        <div class="d-flex justify-content-between mt-4">
          <button class="btn btn-light border" (click)="prev()">Back</button>

          <div class="d-flex">
            <button
              class="btn btn-p me-2"
              [class.btn-dark]="!step2Saved"
              [class.btn-success]="step2Saved"
              (click)="!step2Saved && saveStep2()"
              [disabled]="litigantsForm.invalid"
            >
              <i class="fa-regular fa-plus" *ngIf="!step2Saved"></i>
              <i class="fa-solid fa-check" *ngIf="step2Saved"></i>

              {{ step2Saved ? 'Saved' : 'Add Litigant' }}
            </button>
            <button class="btn btn-outline-dark" (click)="next()">
              Next
              <i class="fa-solid fa-chevron-right ms-2"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- STEP 3 -->
      <div *ngIf="step === 3">
        <app-case-details
          [form]="caseDetailsForm"
          [actList]="actList"
          (actListChange)="receiveActList($event)"
        >
        </app-case-details>

        <div class="d-flex justify-content-between mt-4">
          <button class="btn btn-light border" (click)="prev()">Back</button>

          <div class="d-flex">
            <button
              class="btn btn-p me-2"
              [class.btn-dark]="!step3Saved"
              [class.btn-success]="step3Saved"
              (click)="!step3Saved && saveStep3()"
              [disabled]="step3Saved"
            >
              <i class="fa-regular fa-floppy-disk" *ngIf="!step3Saved"></i>
              <i class="fa-solid fa-check" *ngIf="step3Saved"></i>

              {{ step3Saved ? 'Saved' : 'Save' }}
            </button>
            <button class="btn btn-outline-dark" (click)="next()">
              Next
              <i class="fa-solid fa-chevron-right ms-2"></i>
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="step === 4" class="preview-page rounded-3 p-3">
        <div class="text-center rounded-3 p-3" style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)">
          <h5 class="section-title text-start">Upload Case Documents</h5>
          <p class="text-muted text-start mb-4" style="font-size: 0.9rem">
            Please review your case details and attach all required documents before submitting the
            e-filing.
          </p>

          <!-- Uploaded Documents List -->
          <div *ngIf="docList.length > 0" class="mb-4">
            <!-- <h6 class="text-start mb-3">Uploaded Documents</h6> -->

            <div class="card shadow-sm border-0">
              <div class="list-group list-group-flush">
                <div
                  style="border-left: 2px solid black"
                  class="list-group-item d-flex justify-content-between align-items-center"
                  *ngFor="let doc of docList; let i = index"
                >
                  <!-- Left -->
                  <div class="text-start">
                    <div class="fw-semibold">{{ i + 1 }}. {{ doc.document_type }}</div>
                  </div>

                  <!-- Right Actions -->
                  <div class="d-flex gap-2">
                    <!-- Preview -->
                    <a
                      [href]="doc.final_document"
                      target="_blank"
                      class="btn btn-sm btn-outline-primary"
                    >
                      <i class="fa fa-eye"></i> view
                    </a>

                    <!-- Delete -->
                    <button class="btn btn-sm btn-outline-danger" (click)="deleteDoc(doc.id, i)">
                      <i class="fa fa-trash"></i>
                      delete
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <app-upload-documents
            [form]="uploadFilingDocForm"
            [isUploading]="isUploadingDocuments"
            [fileProgresses]="uploadFileProgresses"
            [uploadCompletedToken]="uploadCompletedToken"
            (submitDoc)="handleDocUpload($event)"
          ></app-upload-documents>
        </div>

        <div class="d-flex justify-content-between mt-4">
          <button class="btn btn-light border" (click)="prev()">Back</button>

          <div class="d-flex gap-2">
            <!-- Next -->
            <button class="btn btn-outline-dark" (click)="next()">
              Next
              <i class="fa-solid fa-chevron-right ms-2"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- STEP 4 -->
      <div *ngIf="step === 5" class="preview-page rounded-3 p-3">
        <div class="text-center">
          <h5 class="mt-0">Review & Submit</h5>

          <p class="text-muted">Please review all the information before submitting the filing.</p>

          <app-e-file
            [form]="form"
            (goToPage)="goToPageFromPreview($event)"
            [docList]="docList"
            [actList]="actList"
            [litigantList]="litigantList"
          ></app-e-file>
        </div>

        <!-- Declaration -->
        <div class="alert alert- text-start mt-4">
          <form [formGroup]="setDeclarationForm">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="isDeclarationChecked"
              />

              <label class="form-check-label" for="declaration">
                I hereby declare that the information provided is true and correct to the best of my
                knowledge. This filing is currently saved as a draft. Once you click on
                <b>Submit Filing</b>, it will be successfully filed and forwarded for scrutiny.
              </label>
            </div>
          </form>
        </div>

        <!-- Buttons -->
        <div class="d-flex justify-content-between mt-4">
          <button class="btn btn-light border" (click)="prev()">Back</button>

          <button
            class="btn btn-success"
            (click)="submit()"
            [disabled]="setDeclarationForm.invalid"
          >
            <i class="fa-solid fa-paper-plane me-2"></i>
            Submit Filing
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
