<div class="container preview-page rounded-3">
  <!-- INITIAL INPUTS -->
  <div class="card shadow-sm mb-4 border-0">
    <div class="card-header text-start bg-dark text-white fw-semibold">Initial Inputs</div>

    <div class="card-body text-start">
      <div class="row g-3">
        <div class="col-md-6">
          <label class="text-muted small">Bench</label>
          <div class="fw-semibold">{{ initialInputsForm.value.bench }}</div>
        </div>

        <div class="col-md-6">
          <label class="text-muted small">Case Type</label>
          <div class="fw-semibold">{{ get_case_type_name(initialInputsForm.value.case_type) }}</div>
        </div>

        <div class="col-md-6">
          <label class="text-muted small">Petitioner Name</label>
          <div class="fw-semibold">{{ initialInputsForm.value.petitioner_name }}</div>
        </div>

        <div class="col-md-6">
          <label class="text-muted small">Petitioner Contact</label>
          <div class="fw-semibold">{{ initialInputsForm.value.petitioner_contact }}</div>
        </div>

        <div class="col-md-6">
          <label class="text-muted small">E-Filing Number</label>
          <div class="fw-semibold text-success">{{ initialInputsForm.value.e_filing_number }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- LITIGANT DETAILS -->
  <div class="card shadow-sm mb-4 border-0 text-start">
    <div class="card-header bg-dark text-white fw-semibold">Litigant Details</div>

    <div class="card-body" *ngIf="litigantList.length > 0">
      <div class="card p-2 border-0 shadow-sm mb-4">
        <table class="table table-striped" *ngIf="litigantList.length > 0">
          <thead class="table-secondary fw-lighter">
            <tr class="fw-light">
              <th class="fw-light" style="border-top-left-radius: 10px">#</th>
              <th class="fw-light">Type</th>
              <th class="fw-light">Name</th>
              <th class="fw-light">Gender</th>
              <th class="fw-light">Age</th>
              <th class="fw-light">Contact</th>
              <th class="fw-light" style="border-top-right-radius: 10px">Address</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of litigantList; let i = index">
              <td class="fw-lighter">{{ i + 1 }}</td>
              <td class="fw-sem">{{ item.is_petitioner ? 'Petitioner' : 'Respondent' }}</td>
              <td>{{ item.name }}</td>
              <td class="fw-lighter">{{ item.gender }}</td>
              <td class="fw-lighter">{{ item.age }}</td>
              <td class="fw-lighter">{{ item.contact }}</td>
              <td class="fw-lighter">{{ item.address }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- CASE DETAILS -->
  <div class="card shadow-sm mb-4 border-0 text-start">
    <div class="card-header bg-dark text-white fw-semibold">Case Details</div>

    <div class="card-body">
      <div class="row g-3">
        <div class="col-md-6">
          <label class="text-muted small">Cause Of Action</label>
          <div class="fw-semibold">{{ caseDetailsForm.value.causeOfAction }}</div>
        </div>

        <div class="col-md-6">
          <label class="text-muted small">Cause Of Action Date</label>
          <div class="fw-semibold">{{ caseDetailsForm.value.causeOfActionDate }}</div>
        </div>

        <div class="col-md-3">
          <label class="text-muted small">State</label>
          <div class="fw-semibold">{{ caseDetailsForm.value.state }}</div>
        </div>

        <div class="col-md-3">
          <label class="text-muted small">District</label>
          <div class="fw-semibold">{{ caseDetailsForm.value.district }}</div>
        </div>

        <div class="col-md-3">
          <label class="text-muted small">Taluka</label>
          <div class="fw-semibold">{{ caseDetailsForm.value.taluka }}</div>
        </div>

        <div class="col-md-6">
          <label class="text-muted small">Act</label>
          <div class="fw-semibold">{{ caseDetailsForm.value.act }}</div>
        </div>

        <div class="col-md-6">
          <label class="text-muted small">Section</label>
          <div class="fw-semibold">{{ caseDetailsForm.value.section }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
