<form [formGroup]="form" class="form-wrapper">
  <!-- GROUP 1 -->
  <div class="form-group-block mb-2">
    <div class="section-title">Details</div>
    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label">Bench<small class="text-danger">*</small> </label>
        <select
          class="form-control form-select"
          formControlName="bench"
          [class.is-invalid]="form.get('bench')?.invalid && form.get('bench')?.touched"
        >
          <option value="">Select Bench</option>
          <option value="High Court Of Sikkim">High Court of Sikkim</option>
        </select>

        <small class="text-danger" *ngIf="form.get('bench')?.invalid && form.get('bench')?.touched">
          bench is required
        </small>
      </div>
      <div class="col-md-6">
        <label class="form-label">Case Type<small class="text-danger">*</small> </label>
        <select
          class="form-control form-select"
          formControlName="case_type"
          [class.is-invalid]="form.get('case_type')?.invalid && form.get('case_type')?.touched"
        >
          <option value="">Select</option>
          <option *ngFor="let l of case_types" [value]="l.id">{{ l.type_name }}</option>
        </select>

        <small
          class="text-danger"
          *ngIf="form.get('case_type')?.invalid && form.get('case_type')?.touched"
        >
          case type is required
        </small>
      </div>
      <div class="col-md-6">
        <label class="form-label"> Petitioner Name <small class="text-danger">*</small> </label>
        <input
          class="form-control"
          formControlName="petitioner_name"
          [class.is-invalid]="
            form.get('petitioner_name')?.invalid && form.get('petitioner_name')?.touched
          "
        />

        <small
          class="text-danger"
          *ngIf="form.get('petitioner_name')?.invalid && form.get('petitioner_name')?.touched"
        >
          petitioner name is required
        </small>
      </div>

      <div class="col-md-6">
        <label class="form-label"> Contact No <small class="text-danger">*</small> </label>
        <input
          class="form-control"
          formControlName="petitioner_contact"
          [class.is-invalid]="
            form.get('petitioner_contact')?.invalid && form.get('petitioner_contact')?.touched
          "
        />

        <small
          class="text-danger"
          *ngIf="form.get('petitioner_contact')?.invalid && form.get('petitioner_contact')?.touched"
        >
          contact number is required
        </small>
      </div>
    </div>
  </div>
</form>
