<form [formGroup]="form" class="form-wrapper">
  <!-- GROUP 1 -->
  <div class="form-group-block">
    <div class="section-title">Details</div>
    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label">Bench<small class="text-danger">*</small> </label>
        <select
          class="form-control form-select"
          formControlName="bench"
          [class.is-invalid]="form.get('bench')?.invalid && form.get('bench')?.touched"
        >
          <option value="">Select Bench</option>
          <option value="High Court Of Sikkim">High Court of Sikkim</option>
        </select>

        <small class="text-danger" *ngIf="form.get('bench')?.invalid && form.get('bench')?.touched">
          bench is required
        </small>
      </div>
      <div class="col-md-6">
        <label class="form-label">Case Type<small class="text-danger">*</small> </label>
        <select
          class="form-control form-select"
          formControlName="nature"
          [class.is-invalid]="form.get('nature')?.invalid && form.get('nature')?.touched"
        >
          <option value="">Select</option>
          <option *ngFor="let l of case_types" [value]="l.id">{{ l.type_name }}</option>
        </select>

        <small
          class="text-danger"
          *ngIf="form.get('nature')?.invalid && form.get('nature')?.touched"
        >
          case type is required
        </small>
      </div>
      <div class="col-md-6">
        <label class="form-label"> Party Type <small class="text-danger">*</small> </label>
        <select
          class="form-control form-select"
          formControlName="partyType"
          [class.is-invalid]="form.get('partyType')?.invalid && form.get('partyType')?.touched"
        >
          <option value="">Select</option>
          <option value="Petitioner">Petitioner</option>
          <option value="Respondent">Respondent</option>
        </select>

        <small
          class="text-danger"
          *ngIf="form.get('partyType')?.invalid && form.get('partyType')?.touched"
        >
          Party type is required
        </small>
      </div>

      <div class="col-md-6">
        <label class="form-label"> Mobile No <small class="text-danger">*</small> </label>
        <input
          class="form-control"
          formControlName="mobile"
          [class.is-invalid]="form.get('mobile')?.invalid && form.get('mobile')?.touched"
        />

        <small
          class="text-danger"
          *ngIf="form.get('mobile')?.invalid && form.get('mobile')?.touched"
        >
          Mobile number is required
        </small>
      </div>
    </div>
  </div>
</form>
