<section class="pending-cases-section">
  <div class="card border-1 rounded-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table align-middle mb-0 table-hover">
          <thead style="background-color: #f1f5f9">
            <tr class="text-secondary small fw-normal">
              <th>#</th>
              <th>Petitoner Name</th>
              <th>Filing No</th>
              <th>Case No</th>
              <th>Case Type</th>
              <th>Contact No</th>
              <th>Filing Date</th>
              <th>Status</th>
            </tr>
          </thead>

          <tbody class="text-muted small">
            <tr
              *ngFor="let c of filingsUnderScrutiny; let i = index"
              style="border-bottom: 1px solid #e5e7eb; cursor: pointer"
              [routerLink]="['/advocate/dashboard/efiling/pending-scrutiny/details', c.id]"
            >
              <td>{{ i + 1 }}</td>
              <td class="fw-medium text-dark">{{ c.petitioner_name }}</td>
              <td class="fw-medium text-success">{{ c.e_filing_number }}</td>
              <td class="fw-medium">{{ c.case_number || '-' }}</td>
              <td>{{ c.case_type.type_name }}</td>
              <td>{{ c.petitioner_contact }}</td>
              <td>{{ c.created_at | date: 'dd MMMM, yyyy' }}</td>
              <td>
                <span
                  class="badge rounded-pill px-3 py-1 fw-normal"
                  [style]="getStatusBadgeClass(c.status)"
                >
                  {{ getStatusLabel(c.status) }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
