@import '@angular/material/prebuilt-themes/azure-blue.css';

@import 'tailwindcss';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    'Inter',
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

.font-display {
  font-family: 'Merriweather', 'Georgia', 'Times New Roman', serif;
}
